rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Bloqueo global de seguridad
    match /{document=**} {
      allow read, write: if false;
    }

    // Permitir lectura a visitantes públicos para que cargue el selector de condominios
    match /users/{userId}/condos/{docId} {
      allow read: if true;
    }

    // Permitir crear registros a visitantes públicos para el formulario de autoregistro
    match /users/{userId}/owner_registrations/{docId} {
      allow create: if true;
    }

    // El administrador dueño tiene acceso completo a sus subcolecciones
    match /users/{userId}/{anyCollection}/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
